@import 'styles/colors';

.footer {
    width: 100%;
    padding-top: 1rem;
    border-top: 1px solid $main-red;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    p {
        text-align: center;
    }
}